<section id="infos">
  <div class="section-title" style="background-image: url('http://res.cloudinary.com/www-riadzouhra-com/image/upload/c_scale,w_2920/v1522749746/port_bateau_essaouira.jpg');">
    <h3>Infos Pratiques</h3>
    <div class="menu hidden-xs">
      <ul class="list-inline">
        <li><a href="#infos.menu" data-panel="2-0" class="infos-button">Votre Arrivée</a></li>
       <!--  <li><a href="#infos.menu" data-panel="2-1" class="infos-button">Contacts</a></li> -->
        <li><a href="#infos.menu" data-panel="2-2" class="infos-button">Localisation</a></li>
        <li><a href="#infos.menu" data-panel="2-3" class="infos-button">Avis</a></li>
        <li><a href="#infos.menu" data-panel="2-4" class="infos-button">Essaouira</a></li>
      </ul>
    </div>
    <div class="menu-xs hidden-sm hidden-md hidden-lg">
      <ul>
        <li><a href="#infos.menu" data-panel="2-0" class="infos-button">Votre Arrivée</a> <a href="#infos.menu" data-panel="2-2" class="infos-button">Localisation</a></li>
        <li><a href="#infos.menu" data-panel="2-3" class="infos-button">Avis</a> <a href="#infos.menu" data-panel="2-4" class="infos-button">Essaouira</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="infos-hidden panel-2-0 infos-show infos-details">
      <%= partial "layouts/infos_intro" %>
    </div>
    <div class="infos-hidden panel-2-1 infos-details">
      <%= partial "layouts/infos_contact" %>
    </div>
     <div class="infos-hidden panel-2-2 infos-details">
      <%= partial "layouts/infos_map" %>
    </div>
     <div class="infos-hidden panel-2-3 infos-details">
      <%= partial "layouts/infos_avis" %>
    </div>
     <div class="infos-hidden panel-2-4 infos-details">
      <%= partial "layouts/infos_essaouira" %>
    </div>
  </div>

  <script>
    function hiddenInfos() {
      const buttonsInfos = document.querySelectorAll(".infos-button");
      const infosData = document.querySelectorAll(".infos-details");
      buttonsInfos.forEach((button) => {
        button.addEventListener('click', () => {
          let infosCategory = "panel-" + button.dataset.panel;
          infosData.forEach((element) => {
              element.classList.remove('infos-show');
          });
          document.querySelector("." + infosCategory).classList.add('infos-show');
        });
      });
    };
    hiddenInfos();
  </script>

</section>
