
  <div class="row">

    <h3>Terrasse</h3>
    <div class="col-xs-12 col-md-6">
      <p><%= data.etages["terrasse"].intro%></p>
      <p><%= data.etages["terrasse"].chambre%></p>
      <div class="photo-h-2">
        <%= image_tag "chhauthaut1.jpg" %>
      </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <div class="photo-h-2">
        <%= image_tag "terrasse2.jpg" %>
        <%= image_tag "terrasse3.jpg" %>
      </div>
      <p><%= data.etages["terrasse"].text%></p>
    </div>

  </div>
