  <div class="row">
    <h3>2ème étage</h3>
    <div class="col-xs-12 col-md-6">
      <p><%= data.etages["deuxieme_etage"].intro%></p>
      <p><%= data.etages["deuxieme_etage"].chambre%></p>
       <div class="photo-h-2">
        <%= image_tag "ch2paysage.jpg" %>

      </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <div class="photo-h-2">
        <%= image_tag "chhaut2.jpg" %>
        <%= image_tag "SdBhaut1.jpg" %>
      </div>
      <p><%= data.etages["deuxieme_etage"].text%></p>
    </div>
  </div>
