  <div class="row">
    <h3>1er étage</h3>
    <div class="col-xs-12 col-md-6">
      <p><%= data.etages["premier_etage"].intro%></p>
      <p><%= data.etages["premier_etage"].chambre%></p>
       <div class="photo-h-2">
        <%= image_tag "salon2.jpg", alt: "Salon Riad Zouhra" %>
      </div>

    </div>
    <div class="col-xs-12 col-md-6">
      <div class="photo-h-2">
       <%= image_tag "Cuisine2.jpg", alt: "Cuisine Riad Zouhra" %>
       <%= image_tag "salon3.jpg", alt: "Salon Riad Zouhra"%>
      </div>
      <p><%= data.etages["premier_etage"].text%></p>
    </div>
  </div>
