
  <div class="row">
    <h3>Rez de Chaussee</h3>
    <div class="col-xs-12 col-md-6">
      <p><%= data.etages["rez_de_chaussee"].intro%></p>
      <p><%= data.etages["rez_de_chaussee"].chambre%></p>
      <div class="photo-h-2">
        <%= image_tag "chbas1.jpg", alt: "Chambre RdC Riad Zouhra" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="photo-h-2">
        <%= image_tag "entree2.jpg", alt: "Entree RdC Riad Zouhra" %>
        <%= image_tag "SdBbas1.jpg", alt: "Salle de Bain RdC Riad Zouhra"%>
      </div>
      <p><%= data.etages["rez_de_chaussee"].text%></p>
    </div>
  </div>

